/* Colors */
$primary: #2ec4b6;
$secondary: #ffbb00;
$danger: #ff5a5f;
$success: #41af4b;
$dark: #2e2e31;
$white: #fff;

/* Fonts */
$font-family-primary: "Cabin Sketch", cursive;
$font-family-secondary: "Open Sans", sans-serif;
